<div class="default-theme-1">
<div class="{{if isTrue "theme-choice-1"}}">

<div class="layout-row flex">
  <div class="flex template layout-column">
    <div class="flex flex-gt-xs-33">
      {{#paper-card class="blog-title-card" as |card|}}
        <h1 id="blog-name">Blog Name</h1>
      {{/paper-card}}
    </div>
  </div>
</div>
<div class="layout-row blog-container">


  {{#paper-switch value=isTrue onChange=(action (mut isTrue))}}
    <!-- {{booleanProp1}} -->
  {{/paper-switch}}
</div>
<div class="layout-row layout-xs-column blog-container md-padding blog-container">
  <div class=" flex flex-gt-xs-66 blog-content">
      {{#each data as |blogPost|}}
        {{blog-post-template-1 blog=blogPost}}
      {{/each}}

  </div>
  <div class="flex flex-gt-xs-33 blog-sidebar">


    {{#paper-card class="blog-container" as |card|}}
      {{card.image src="https://pbs.twimg.com/profile_images/874417950/003-2-square_400x400.jpg" alt="Washed Out" title="Washed Out"}}
      {{#card.title blog-container as |title|}}
        {{#title.text blog-container as |text|}}

        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      {{/card.content}}
      {{#card.actions class="layout-row layout-align-start-center" as |actions|}}
        {{#actions.icons}}
          <img src="assets/facebook.png" alt="" class="social-icon">
          <img src="assets/twitter.png" alt="" class="social-icon">
          <img src="assets/instagram.png" alt="" class="social-icon">
        {{/actions.icons}}
      {{/card.actions}}
    {{/paper-card}}
  </div>
</div>
</div>
</div>
