<div class="layout-row flex">
  <div class="flex template layout-column">
    <div class="flex flex-gt-xs-33">
      {{#paper-card class="blog-title-card" as |card|}}
          <h1>Blog Name</h1>
        {{/paper-card}}
    </div>
  </div>
</div>
<div class="layout-row layout-xs-column blog-container">
    <div class="flex flex-gt-xs-80">
        {{#paper-card class="bio-container" as |card|}}
          {{#card.title as |title|}}
            <p>Church-key ethical succulents, YOLO affogato next level letterpress
                8-bit lo-fi ugh jean shorts tousled kickstarter microdosing
                polaroid. Narwhal hell of butcher cray, woke kickstarter dreamcatcher
                 mlkshk letterpress celiac tofu edison bulb gastropub church-key
                  distillery.</p>
          {{/card.title}}
          {{#card.actions class="layout-row layout-align-start-center" as |actions|}}
         {{#actions.icons}}
           <!-- {{#paper-button iconButton=true}}{{paper-icon 'favorite'}}{{/paper-button}} -->
           <img src="assets/facebook.png" alt="" class="social-icon">
           <img src="assets/twitter.png" alt="" class="social-icon">
           <img src="assets/instagram.png" alt="" class="social-icon">
         {{/actions.icons}}
       {{/card.actions}}
        {{/paper-card}}
    </div>

    <div class="flex flex-gt-xs-20">
        {{#paper-card as |card|}}
            {{card.image size="md" src="https://pbs.twimg.com/profile_images/759389830975455232/4-UdzhN5_400x400.jpg" alt="Tomster" title="Johnny"}}
        {{/paper-card}}
    </div>
</div>
<div class="layout-row layout-xs-column blog-container">
  <div class=" flex blog-content">
  {{#each data as |blogPost|}}
  {{blog-post-template-2 blog=blogPost}}
  {{/each}}
  </div>
</div>
