$primary: "indigo";
$accent: "pink";
$warn: "red";
$background: "grey";
$link: "light-blue";



/*dark theme*/

// blue #0092C9
// green #63AFB7
// lite yellow #FBC800
// dark yellow #CC9B00

@import 'ember-paper';

$def-primary: #405952 !important;
$def-secondary: #9C9B7A !important;
$def-taupey: #FFD393 !important;
$def-accent1: #FF974F !important;
$def-accent2: #F54F29 !important;

$dark-theme-primary: #40484C !important;
$dark-theme-secondary: #0092C9 !important;
$dark-theme-accent1: #FBC800 !important;


@mixin button-style {
  padding: .5em 2em;
  opacity: .8;
  // background-color: $def-accent1;
  // color: $def-primary;
}
@mixin parallax ($url) {
    background-image:url($url);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
}
.homepage{
  p {
      font-size: 1.25em;
      line-height: 1.5;
  }



}



// p {
//   font-size: 1.25em;
//   line-height: 1.5;
// }

.paper-right {
  margin-left: auto;
}

.navbar {
    background: $def-primary;
}

.parallax {
   @include parallax("https://static.pexels.com/photos/302541/pexels-photo-302541.jpeg");
   height: 75vh;
   justify-content: center;
   align-items: center;
   p{
     color:white;
     font-size:1.5em;
     font-weight:bold;
   }
}
.signup {
  padding:5%;
  > .layout-row {
    /* border: solid; */
    border-radius: 5px;
    width: 100%;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}
h1{
  text-align:center;
  font-size: 4em;
margin: 0;
color: #F54F29 !important;
}
}

.login {
    display:flex;
    padding: 2%;
    align-items:center;
    flex-direction:column;
h1{
  font-size: 4em;
  margin: 0;
  color: $def-accent2;
}
.f{
  display:flex;
    flex-direction:column;
  border-radius:5%;
  padding:2%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
}
}
.parallax-2 {
   @include parallax("https://static.pexels.com/photos/309166/pexels-photo-309166.jpeg");

   h2{
     color:white;
   }
   p{
     color:white;
     font-size:1em;
   }
}

.template {
    @include parallax("https://images.pexels.com/photos/274060/pexels-photo-274060.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
    height: 60vh;
    justify-content: center;
    align-items: center;

}
.blog-title-card {
  padding: 1em 7em;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.32);
  height: 100%;
  width: 100%;
  border-radius: 13px;

  h1 {
    font-size: 5em;
    margin: 0;
    color: $def-accent2;
  }

  .button {
    @include button-style;
  }
}

.index-content {
    padding-top: 1.5em;
    background-color: $def-primary;
}
.card-info {
    color: $def-taupey;
    padding: 1em 5em;
    line-height: 1.5em;
    text-align: center;

    .card-icon {
      color:white;
        display: flex;
        justify-content: center;
    }
}


.parallax-2-text, .parallax-3-text   {
 padding: 8em 7em;
 background: #f54f29;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 p {
   text-align: center;
 }
}

.blog-container {
  padding: 0 2em;
  .blog-content {

  }

  .blog-sidebar {

  }
.blog-container-full{

}
}
.bio-container {
    // height: 95%;
    // margin-bottom: 2.5em;
}
.social-icon {
    width: 2em;
    height: 2em;
    margin: 1em;
}
.dash-board-card {
    max-height: 500px;
    overflow: hidden;
    overflow: scroll;
}

.blog-post-dialog {
  width: 80vw;
}
#default-theme-1{
  h1 {
      color: $dark-theme-primary;
  }
  p {
      color: $dark-theme-secondary;
  }
  .card-container {
      background-color: $dark-theme-accent1;
  }
  #card-content {
      background-color: $dark-theme-accent1;
  }
  .blog-container {
  background: red;
  padding: 0 2em;
}
md-card-title-text {
  color: red;
}

}


.theme-choice-1 {
    h1 {
        color: $dark-theme-primary;
    }
    p {
        color: $dark-theme-secondary;
    }
    .card-container {
        background-color: $dark-theme-accent1;
    }
    #card-content {
        background-color: $dark-theme-accent1;
    }
    .blog-container {
    background: red;
    padding: 0 2em;
}
md-card-title-text {
    color: red;
}
    // color: blue;
}
// .dash-board-card {
//     max-width: 80%;
//     display: flex;
//     align-items: center;
// }

.footer {
  background-color: $def-primary;
  font-size: 1em;
  text-align: center;
  // position: fixed;
  // bottom: 0;
}
