{{#paper-toolbar class="navbar"}}
  <div class="md-toolbar-tools">
    {{#link-to 'index'}}{{paper-icon 'home'}}{{#paper-button}}Home{{/paper-button}}{{/link-to}}
    {{#link-to 'form'}}{{#paper-button}}Form{{/paper-button}}{{/link-to}}
    {{#link-to 'dashboard'}}{{#paper-button}}Dash Board{{/paper-button}}{{/link-to}}
    {{#link-to 'blog'}}{{#paper-button}}Blog{{/paper-button}}{{/link-to}}
    <div class="paper-right">
      {{paper-icon 'person'}}
      {{#if session.isAuthenticated}}
        {{#paper-button action='invalidateSession'}}Logout{{/paper-button}}
      {{else}}
        {{#link-to 'login'}}{{#paper-button}}Login{{/paper-button}} {{/link-to}}
        {{#paper-button}}Register{{/paper-button}}
      {{/if}}
    </div>
  </div>
{{/paper-toolbar}}
{{outlet}}

{{#paper-toolbar class="footer"}}
  <p>&copy; Amanda & Friends</p>
{{/paper-toolbar}}
