{{#paper-toolbar class="navbar"}}
  <div class="md-toolbar-tools">
    {{#link-to 'index'}}{{paper-icon 'home'}}{{#paper-button}}Home{{/paper-button}}{{/link-to}}
    {{#link-to 'form'}}{{#paper-button}}Form{{/paper-button}}{{/link-to}}
    {{#link-to 'dashboard'}}{{#paper-button}}Dash Board{{/paper-button}}{{/link-to}}
    <div class="paper-right">
      {{paper-icon 'person'}}
      {{#if session.currentUser}}
        {{#paper-button action='logout'}}Logout{{/paper-button}}
      {{else}}
        {{#paper-button}}Login{{/paper-button}}
        {{#paper-button}}Register{{/paper-button}}
      {{/if}}
    </div>
  </div>
{{/paper-toolbar}}
{{outlet}}
