<div class="layout-row flex">
  <div class="flex">

      <div class="parallax">
        <div class="hero-text">
          <h1>Dear No One</h1>
          <p class="headertext">A light Weight Ember Bloggin App</p>
          {{#link-to 'signup'}}{{#paper-button class="button" raised=true}}Sign Up{{/paper-button}}{{/link-to}}
        </div>

      </div>
    </div>
  </div>

<div class="layout-row flex index-content">
  <div class="card-info">
    {{paper-icon "account circle" size=80 class="card-icon"}}
    <p class="homepage">Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived

    </p>
  </div>
  <div class="card-info">
    {{paper-icon "info" size=80 class="card-icon"}}
    <p class="homepage">Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived

    </p>
  </div>
  <div class="card-info">
    {{paper-icon "explore" size=80 class="card-icon"}}
    <p class="homepage">Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived

    </p>
  </div>
</div>
<div class="layout-row flex">
  <div class="parallax-2">
    <div class="parallax-2-text flex-offset-50">
        <h2 class="homepage">Easy to Use</h2>
        <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
          not only five centuries, but also the leap into electronic typesetting,</p>
    </div>
    <div class="parallax-3-text flex-50">
      <h2 class="homepage">Light Weight</h2>
      <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
        not only five centuries, but also the leap into electronic typesetting,</p>
    </div>
  </div>
<!--
<div class="parallax-2-text flex-50">
    <h2>Title</h2>
    <p>Is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
      not only five centuries, but also the leap into electronic typesetting,</p>
</div>
</div>
<div class="layout-row flex">

<div class="parallax-3 flex-50">

</div> -->

</div>
