<div class="login">


<h1>LOG IN</h1>





<form class="f" {{action 'authenticate' on='submit'}}>
<div class="layout layout-sm-column">
   {{paper-input flex=30 label="E-mail" type="email" value=email onChange=(action (mut email))}}
   {{paper-input flex=40 label="Password" type="password" value=password onChange=(action (mut password))}}

 </div>
  <button type="submit">Login</button>{{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
 </form>


 </div>
